version: "3"
services:
  gitlab:
    image: ${DOCKER_IMAGE}
    container_name: gitlab
    hostname: {{ gitlab_host }}
    environment:
      GITLAB_OMNIBUS_CONFIG: |
        external_url 'https://{{ gitlab_host }}/gitlab'
        nginx['listen_https'] = false
        nginx['listen_port'] = 9999
        nginx['proxy_set_headers'] = {
          "X-Forwarded-Proto" => "https",
          "X-Forwarded-Ssl" => "on"
        }
        gitlab_rails['gitlab_shell_ssh_port'] = 54322
{% if use_traefik %}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.gitlab.rule=Host(`${TRF_DOMAIN}`) && PathPrefix(`/gitlab`)"
      - "traefik.http.routers.gitlab.entrypoints=web,websecure"
      - "traefik.http.routers.gitlab.tls=true"
      - "traefik.http.services.gitlab.loadbalancer.server.port=9999"
{% endif %}
    ports:
      - "9999:80"
      - "54322:22"
      - "54443:443"
    volumes:
      - "{{ gitlab_data }}:/var/opt/gitlab"
      - "{{ gitlab_logs }}:/var/log/gitlab"
      - "{{ gitlab_cfgs }}:/etc/gitlab"
    shm_size: "256m"
    restart: always
{% if use_dkr_net %}
    networks:
      - {{ dkr_network }}

networks:
  {{ dkr_network }}:
    external: true
{% endif %}
