version: "3"
services:
  gitlab:
    image: ${DOCKER_IMAGE}
    container_name: gitlab
    hostname: gitlab
    environment:
      TZ: Asia/Seoul
      GITLAB_OMNIBUS_CONFIG: |
        external_url = "{{ external_url }}"
        nginx['listen_port'] = "{{ gitlab_http_port }}"
        nginx['listen_https'] = false
        nginx['redirect_http_to_https'] = false
        nginx['hide_server_tokens'] = 'on'
        nginx['client_max_body_size'] = '250m'
        nginx['proxy_set_headers'] = {
          "X-Forwarded-Proto" => "http",
          "X-Forwarded-Ssl" => "off"
        }
{% if use_traefik %}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.gitlab.entrypoints=web,websecure"
      - "traefik.http.routers.gitlab.rule=Host(`${trf_domain}`) && PathPrefix(`/gitlab`)"
      - "traefik.http.services.gitlab.loadbalancer.server.port={{ gitlab_http_port }}"
    {% if use_traefik_tls %}
      - "traefik.http.routers.gitlab.tls=true"
    {% endif %}
{% endif %}
    ports:
      - "{{ gitlab_http_port }}:80"
      - "{{ gitlab_https_port }}:443"
      - "{{ gitlab_ssh_port }}:22"
    volumes:
      - "{{ gitlab_data }}:/var/opt/gitlab"
      - "{{ gitlab_logs }}:/var/log/gitlab"
      - "{{ gitlab_cfgs }}:/etc/gitlab"
    shm_size: "256m"
    restart: always
{% if use_dkr_net %}
    networks:
      - {{ dkr_network }}

networks:
  {{ dkr_network }}:
    external: true
{% endif %}
